.sidebar {
    overflow: auto;
}
.sidebar-brand {
    max-width: 168px;
    white-space: nowrap;
    /*margin-left: 10px;*/
    font-family: 'LogoFont';
}
.sidebar-logo {
    object-fit: cover;
    overflow: auto;
}
#resize-handle {
    background-color: #cbd5e0;
    cursor: ew-resize;
    width: 8px;
}
#switchBtn {
    color: #4e73df;
    font-size: 20px;
    border-radius: 3px 3px 3px 3px;
}
@font-face {
    font-family: 'LogoFont';
    src: url('./fonts/BlackHanSans-Regular.ttf') format('truetype');
}