.sidebar {
    overflow: auto;
}
.sidebar-brand {
    max-width: 168px;
    justify-content: flex-start;
    margin-left: 10px;
}
.sidebar-logo {
    object-fit: cover;
    overflow: auto;
}
#resize-handle {
    background-color: #cbd5e0;
    cursor: ew-resize;
    width: 5px;
}