<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>ETRI</title>

	<!-- sbadmin2 템플릿 css, font -->
	<link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="../css/sb-admin-2.min.css" rel="stylesheet">
	<link href="../css/dtree.css" rel="StyleSheet" type="text/css"/>
	<link href="../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

	<!-- 커스텀 css -->
	<link href="../css/sidebar.css" rel="stylesheet" type="text/css">
	<link href="../css/mainContainer.css" rel="stylesheet" type="text/css">

	<!-- bootstrap, chart.js, datatables 자바스크립트 -->
	<script src="../vendor/jquery/jquery.min.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="../js/sb-admin-2.min.js"></script>
	<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="../vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- 페이지에 적용되는 자바스크립트 -->
	<script src="../js/datatables.js"></script>
	<script src="../js/dtree.js" type="text/javascript"></script>
	<script src="../js/sidebar.js" type="text/javascript"></script>
</head>

<body id="page-top">
	<div id="wrapper">

		<!-- 사이드바 -->
		<ul class="navbar-nav bg-light sidebar sidebar-divider accordion border-right" id="accordionSidebar">
			<!-- 사이드바 브랜드(로고) -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index">
				<img class="sidebar-logo" src="../img/ci_img01.png"></img>
			</a>
			<!-- 구분선 -->
			<hr class="sidebar-divider my-0">
			<!-- 트리 뷰 -->
			<div class="dtree">
				<!-- 모두 펼치기 / 모두 접기 -->
				<p><a href="javascript: d.openAll();">모두 펼치기</a> | <a href="javascript: d.closeAll();">모두 접기</a></p>
				<!-- 트리 뷰 들어갈 div -->
				<div id="dTreeview"></div>
			</div>
		</ul>

		<!-- 사이드바 크기조절 핸들 -->
		<div id="resize-handle"></div>

		<!-- main 콘텐츠 영역 -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">

				<!-- 탑 바 -->
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-3 static-top shadow">
					<ul class="navbar-nav ml-auto">
						<div class="topbar-divider d-none d-sm-block"></div>
						<!-- 사용자 정보 -->
						<li class="nav-item dropdown no-arrow">
							<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
							   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="mr-2 d-none d-lg-inline text-gray-600 small">이름</span>
								<img class="img-profile rounded-circle"
									 src="../img/undraw_profile.svg">
							</a>
							<!-- 사용자 드롭다운 메뉴 -->
							<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
								 aria-labelledby="userDropdown">
								<a class="dropdown-item" href="/info">
									<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
									사용자 정보 조회
								</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/logout">
									<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
									로그아웃
								</a>
							</div>
						</li>
					</ul>
				</nav>

				<div class="container-fluid">
					<div class="card shadow mb-4">
						<div class="card-body">
							<div class="optionButtonContainer">
								<a class="btn btn-primary btn-refresh" href=""><span class="button-content">변경사항 일괄 저장</span></a>
							</div>

							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
									</thead>
									<tbody>
									</tbody>
									<tfoot>
									</tfoot>
									<script>
										let dataSet;
										fetch("/query/authority")
												.then(response => response.json())
												.then(data => {
															dataSet = data;

															// for (let i = 0; i < dataSet.length; i++) {
															// 	if (dataSet[i].type === "admin") {
															// 		dataSet.splice(i, 1);
															// 	}
															// }
															const tableAuthority = document.getElementById('dataTable');
															const tableBodyAuthority = tableAuthority.querySelector('tbody');

															const dbRowAuthority = document.createElement('tr');
															tableBodyAuthority.appendChild(dbRowAuthority);

															const emptyCellAuthority = document.createElement('td');
															emptyCellAuthority.className = 'title-user user-cell';
															emptyCellAuthority.textContent = '사용자';
															emptyCellAuthority.setAttribute('colspan', '2');
															emptyCellAuthority.setAttribute('rowspan', '2');
															dbRowAuthority.appendChild(emptyCellAuthority);

															const dbText = ['sidb', 'msdb', 'tmdb', 'dmdb'];
															for (let i = 0; i < 4; i++) {
																const dbCell = document.createElement('td');
																dbCell.className = 'title-user db-cell';
																dbCell.textContent = dbText[i];
																dbCell.setAttribute('colspan', '2');
																dbRowAuthority.appendChild(dbCell);
															}

															const modifyCell = document.createElement('td');
															modifyCell.className = 'title-user modify-cell';
															modifyCell.textContent = '저장';
															modifyCell.setAttribute('colspan', '2');
															modifyCell.setAttribute('rowspan', '2');
															dbRowAuthority.appendChild(modifyCell);

															const rwRowAuthority = document.createElement('tr');
															tableBodyAuthority.appendChild(rwRowAuthority);

															for (let i = 0; i < 4; i++) {
																const readCell = document.createElement('td');
																readCell.className = 'title-user';
																readCell.textContent = '읽기 권한';
																rwRowAuthority.appendChild(readCell);


																const writeCell = document.createElement('td');
																writeCell.className = 'title-user';
																writeCell.textContent = '쓰기 권한';
																rwRowAuthority.appendChild(writeCell);
															}

															const emptyRowAuthority = document.createElement('tr');
															tableBodyAuthority.appendChild(emptyRowAuthority);

															const infoCellAuthority = document.createElement('td');
															infoCellAuthority.className = 'info-cell';
															infoCellAuthority.setAttribute('colspan', '11');
															emptyRowAuthority.appendChild(infoCellAuthority);

															const infoPart = document.createElement('div');
															infoPart.className = 'info-part';
															infoPart.append('사용자 이름을 검색해주세요.');
															infoCellAuthority.appendChild(infoPart);

															function filterRowsByNameAuthority(name) {
																var trElements = tableBodyAuthority.querySelectorAll('tr');


																for (let i = 2; i < trElements.length; i++) {
																	tableBodyAuthority.removeChild(trElements[i]);
																}

																for (let i = 0; i < dataSet.length; i++) {
																	trElements = tableBodyAuthority.querySelectorAll('tr');

																	if (name == '') {
																		const emptyRowAuthority = document.createElement('tr');
																		tableBodyAuthority.appendChild(emptyRowAuthority);

																		const infoCellAuthority = document.createElement('td');
																		infoCellAuthority.className = 'info-cell';
																		infoCellAuthority.setAttribute('colspan', '11');
																		emptyRowAuthority.appendChild(infoCellAuthority);

																		const infoPart = document.createElement('div');
																		infoPart.className = 'info-part';
																		infoPart.append('사용자 이름을 검색해주세요.');
																		infoCellAuthority.appendChild(infoPart);

																		break;
																	}
																	else if (dataSet[i].name.includes(name)) {
																		const dataRow = document.createElement('tr');
																		tableBodyAuthority.appendChild(dataRow);

																		const nameCell = document.createElement('td');
																		nameCell.className = 'title-user';
																		nameCell.textContent = dataSet[i].name;
																		nameCell.setAttribute('colspan', '2');
																		dataRow.appendChild(nameCell);

																		for (let j = 0; j < 4; j++) {
																			const readAuthorityCell = document.createElement('td');
																			dataRow.appendChild(readAuthorityCell);

																			const readCheckbox = document.createElement('input');
																			readCheckbox.type = 'checkbox';
																			readCheckbox.className = 'authority';
																			readAuthorityCell.appendChild(readCheckbox);

																			const readAuthority = `readauthority${j+1}`;

																			if (dataSet[i][readAuthority] === 'o') {
																				readCheckbox.checked = true;
																			} else if (dataSet[i][readAuthority] === 'x') {
																				readCheckbox.checked = false;
																			}

																			readCheckbox.addEventListener('change', function() {
																				if (readCheckbox.checked) {
																					dataAuthority[readAuthority] = 'o';
																					dataSet[i][readAuthority] = 'o';
																				}
																				else if (!readCheckbox.checked) {
																					dataAuthority[readAuthority] = 'x';
																					dataSet[i][readAuthority] = 'x';
																				}
																			});

																			const writeAuthorityCell = document.createElement('td');
																			dataRow.appendChild(writeAuthorityCell);

																			const writeCheckbox = document.createElement('input');
																			writeCheckbox.type = 'checkbox';
																			writeCheckbox.className = 'authority';
																			writeAuthorityCell.appendChild(writeCheckbox);

																			const writeAuthority = `writeauthority${j+1}`;

																			if (dataSet[i][writeAuthority] === 'o') {
																				writeCheckbox.checked = true;
																			} else if (dataSet[i][writeAuthority] === 'x') {
																				writeCheckbox.checked = false;
																			}

																			writeCheckbox.addEventListener('change', function() {
																				if (writeCheckbox.checked) {
																					dataAuthority[writeAuthority] = 'o';
																					dataSet[i][writeAuthority] = 'o';
																				}
																				else if (!writeCheckbox.checked) {
																					dataAuthority[writeAuthority] = 'x';
																					dataSet[i][writeAuthority] = 'x';
																				}
																			});
																		}

																		const dataAuthority = {
																			readauthority1: dataSet[i].readauthority1,
																			writeauthority1: dataSet[i].writeauthority1,
																			readauthority2: dataSet[i].readauthority2,
																			writeauthority2: dataSet[i].writeauthority2,
																			readauthority3: dataSet[i].readauthority3,
																			writeauthority3: dataSet[i].writeauthority3,
																			readauthority4: dataSet[i].readauthority4,
																			writeauthority4: dataSet[i].writeauthority4,
																			id: dataSet[i].id
																		};

																		const buttonCell = document.createElement('td');
																		buttonCell.setAttribute('colspan', '2');
																		dataRow.appendChild(buttonCell);

																		const modifyButton = document.createElement('div');
																		modifyButton.className = 'modify-button';
																		modifyButton.append('변경 사항 저장');
																		modifyButton.addEventListener('click', function() {
																			fetch("/user/updateAuthority", {
																				method: "PUT",
																				headers: {
																					"Content-Type": "application/json"
																				},
																				body: JSON.stringify(dataAuthority)
																			})
																					.then(response => response.text())
																					.then(result => {
																						console.log(result);
																						window.alert("변경 사항이 저장됐습니다.")
																					})
																					.catch(error => {
																						console.error("수정 요청 중 오류 발생:", error);
																					});
																		});

																		buttonCell.appendChild(modifyButton);
																	}
																	else if (i == dataSet.length - 1 && trElements.length == 2) {
																		const emptyRowAuthority = document.createElement('tr');
																		tableBodyAuthority.appendChild(emptyRowAuthority);

																		const infoCellAuthority = document.createElement('td');
																		infoCellAuthority.className = 'info-cell';
																		infoCellAuthority.setAttribute('colspan', '11');
																		emptyRowAuthority.appendChild(infoCellAuthority);

																		const infoPart = document.createElement('div');
																		infoPart.className = 'info-part';
																		infoPart.append('검색 결과가 없습니다.');
																		infoCellAuthority.appendChild(infoPart);
																	}
																}
																trElements = tableBodyAuthority.querySelectorAll('tr');

																if (trElements.length <= 3) {
																	const saveButton = document.getElementById('save-button');
																	saveButton.style.display = 'none';
																}
																else if (trElements.length > 3) {
																	const saveButton = document.getElementById('save-button');
																	saveButton.style.display = 'block';
																}
															}

															const searchPart = document.createElement('div');
															searchPart.className = 'search-part';

															const mainTitleAuthority = document.getElementById('authority');
															mainTitleAuthority.insertAdjacentElement('afterend',searchPart);

															const searchInputAuthority = document.createElement('input');
															searchInputAuthority.className = 'user-search-center';
															searchInputAuthority.type = 'text';
															searchInputAuthority.placeholder = '사용자 이름 검색';

															const searchButton = document.createElement('div');
															searchButton.className = 'search-button';
															searchButton.append('검색');

															searchButton.addEventListener('click', function() {
																const searchValue = searchInputAuthority.value;
																filterRowsByNameAuthority(searchValue);
															});

															searchInputAuthority.addEventListener('keydown', function(event) {
																if (event.key === 'Enter') {
																	searchButton.click();
																}
															});

															searchPart.appendChild(searchInputAuthority);
															searchPart.appendChild(searchButton);

															const buttonPart = document.createElement('div');
															buttonPart.className = 'button-part';
															const allFindButton = document.createElement('div');
															allFindButton.className = 'all-find-button';
															allFindButton.append('전체 사용자 조회');
															allFindButton.addEventListener('click', function() {
																const trElements = tableBodyAuthority.querySelectorAll('tr');

																const tdElements = trElements[2].querySelectorAll('td')

																if (trElements.length - 2 == dataSet.length && tdElements.length != 1) {
																	return ;
																}

																for (let i = 2; i < trElements.length; i++) {
																	tableBodyAuthority.removeChild(trElements[i]);
																}

																if (dataSet.length == 0) {
																	const emptyRowAuthority = document.createElement('tr');
																	tableBodyAuthority.appendChild(emptyRowAuthority);

																	const infoCellAuthority = document.createElement('td');
																	infoCellAuthority.className = 'info-cell';
																	infoCellAuthority.setAttribute('colspan', '11');
																	emptyRowAuthority.appendChild(infoCellAuthority);

																	const infoPart = document.createElement('div');
																	infoPart.className = 'info-part';
																	infoPart.append('등록된 사용자가 없습니다.');
																	infoCellAuthority.appendChild(infoPart);
																	return;
																}

																for (let i = 0; i < dataSet.length; i++) {
																	const trElementsUpdate = tableBodyAuthority.querySelectorAll('tr');

																	const dataRow = document.createElement('tr');
																	tableBodyAuthority.appendChild(dataRow);

																	const nameCell = document.createElement('td');
																	nameCell.className = 'title-user';
																	nameCell.textContent = dataSet[i].name;
																	nameCell.setAttribute('colspan', '2');
																	dataRow.appendChild(nameCell);

																	for (let j = 0; j < 4; j++) {
																		const readAuthorityCell = document.createElement('td');
																		dataRow.appendChild(readAuthorityCell);

																		const readCheckbox = document.createElement('input');
																		readCheckbox.type = 'checkbox';
																		readCheckbox.className = 'authority';
																		readAuthorityCell.appendChild(readCheckbox);

																		const readAuthority = `readauthority${j+1}`;

																		if (dataSet[i][readAuthority] === 'o') {
																			readCheckbox.checked = true;
																		} else if (dataSet[i][readAuthority] === 'x') {
																			readCheckbox.checked = false;
																		}

																		readCheckbox.addEventListener('change', function() {
																			if (readCheckbox.checked) {
																				dataAuthority[readAuthority] = 'o';
																				dataSet[i][readAuthority] = 'o';
																			}
																			else if (!readCheckbox.checked) {
																				dataAuthority[readAuthority] = 'x';
																				dataSet[i][readAuthority] = 'x';
																			}
																		});

																		const writeAuthorityCell = document.createElement('td');
																		dataRow.appendChild(writeAuthorityCell);

																		const writeCheckbox = document.createElement('input');
																		writeCheckbox.type = 'checkbox';
																		writeCheckbox.className = 'authority';
																		writeAuthorityCell.appendChild(writeCheckbox);

																		const writeAuthority = `writeauthority${j+1}`;

																		if (dataSet[i][writeAuthority] === 'o') {
																			writeCheckbox.checked = true;
																		} else if (dataSet[i][writeAuthority] === 'x') {
																			writeCheckbox.checked = false;
																		}

																		writeCheckbox.addEventListener('change', function() {
																			if (writeCheckbox.checked) {
																				dataAuthority[writeAuthority] = 'o';
																				dataSet[i][writeAuthority] = 'o';
																			}
																			else if (!writeCheckbox.checked) {
																				dataAuthority[writeAuthority] = 'x';
																				dataSet[i][writeAuthority] = 'x';
																			}
																		});
																	}

																	const dataAuthority = {
																		readauthority1: dataSet[i].readauthority1,
																		writeauthority1: dataSet[i].writeauthority1,
																		readauthority2: dataSet[i].readauthority2,
																		writeauthority2: dataSet[i].writeauthority2,
																		readauthority3: dataSet[i].readauthority3,
																		writeauthority3: dataSet[i].writeauthority3,
																		readauthority4: dataSet[i].readauthority4,
																		writeauthority4: dataSet[i].writeauthority4,
																		id: dataSet[i].id
																	};

																	const buttonCell = document.createElement('td');
																	buttonCell.setAttribute('colspan', '2');
																	dataRow.appendChild(buttonCell);

																	const modifyButton = document.createElement('div');
																	modifyButton.className = 'modify-button';
																	modifyButton.append('변경 사항 저장');
																	modifyButton.addEventListener('click', function() {
																		fetch("/user/updateAuthority", {
																			method: "PUT",
																			headers: {
																				"Content-Type": "application/json"
																			},
																			body: JSON.stringify(dataAuthority)
																		})
																				.then(response => response.text())
																				.then(result => {
																					console.log(result);
																					window.alert("변경 사항이 저장됐습니다.")
																				})
																				.catch(error => {
																					console.error("수정 요청 중 오류 발생:", error);
																				});
																	});

																	buttonCell.appendChild(modifyButton);
																}
																if(dataSet.length != 1) {
																	const saveButton = document.getElementById('save-button');
																	saveButton.style.display = 'block';
																}
															});
															searchPart.insertAdjacentElement('afterend',buttonPart);
															buttonPart.appendChild(allFindButton);
														}
												)
												.catch(error => {
													console.error("사용자 정보 조회 중 오류 발생:", error);
												});
									</script>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; ETRI 2023</span>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<!-- 페이지 최상단 스크롤 버튼 -->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>
</body>
</html>