<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!-- 테이블, 칼럼 정보 인터페이스 -->
<div class="modal fade" id="informationModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">테이블 정보</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>칼럼 명</th>
                        <th>타입</th>
                        <th>PK</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="title">column1</td>
                        <td>varchar(100)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="title">column2</td>
                        <td>smallint</td>
                        <td>O</td>
                    </tr>
                    <tr>
                        <td class="title">column3</td>
                        <td>integer</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="title">column4</td>
                        <td>decimal</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="title">column5</td>
                        <td>varchar(10)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="title">column6</td>
                        <td>double precision</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="title">column7</td>
                        <td>timestamp</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="title">column8</td>
                        <td>text</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="title">column9</td>
                        <td>text</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="title">column10</td>
                        <td>date</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="title">column11</td>
                        <td>date</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="title">column12</td>
                        <td>boolean</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="title">column13</td>
                        <td>boolean</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" data-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>